body
{
  width:95%;
max-width: 800px;
  margin: auto;
font-family: 'Cinzel';
background: url(background.jpg) center ;
line-height: 1.5;
color:white;
}
main
{
  padding: 5px 40px;
margin-top: 23px;
border-radius: 7px;
background: #00000054;
}
.Logo,.titulo,.subtitulo
{
text-align: center;
}
.redes
{
width: 150px;
height: 150px;
float: left;
margin-left: 20px;
transition: all 0.4s ease-out;
border-radius: 50%;
}
.redes:hover
{
cursor: pointer;
transform:translateY(-20px);
box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
}
.redes#facebook
{
  background-color: #2372a3;
}
.redes#twitter
{
  background-color: #0084b4;
}
.redes#instagram
{
  background-color: #3f729b;
}
.redes#youtube
{
  background-color: #b00;
}
.icone
{
  margin:0px auto;
  padding: 35px;
  width: 80px;
}